:root {
    --iceblue: #e6f4f1;
    --red: #842700;
    --darkblue: #005c84;
    --lightblue: #8ccbd6;
}

body {
  height: 100vh;
  margin: 0;
}



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 50vh;
  margin-left: 10vw;
  border: 1px solid black;
}

.about-us-text {
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 50vh;
  margin-left: 10vw;
  background-color: var(--iceblue);
}

.about-us-text > center {
  width: 60vw;
}
.about-us-text > h1 {
  font-size: 20px;
}
