:root {
    --iceblue: #e6f4f1;
    --red: #842700;
    --darkblue: #005c84;
    --lightblue: #8ccbd6;
}

body {
    height: 100vh;
    margin: 0;
  }
  
  

.header {
  display: flex;
  justify-content: center;
  width: auto;
  height: 80vh;
  border: 1px solid black;
}

.search-container input {
  padding: 5px;
  margin-top: 30px;
  border: 1px solid grey;
  margin-left: 15vw;
  font-size: 15px;
}

.search-container button {
  padding: 5px;
  margin-top: 30px;
  border: 1px solid grey;
  font-size: 15px;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20vh;
  left: 25vw;
  width: 60vw;
  height: 60vh;
  background-color: var(--iceblue);
}

#destinations-container{
  margin-left: 140px;
}

.city-box{
    height: 240px;
    width: 213.75px;
    margin: 30px;
    border-radius: 50px;
    background-color: lightgray;
}

.city-picture{
    height: 172.5px;
    width: 213.75px;
    /* background-image: url(../Images/sidney_big_2.jpg); */
    background-size: cover;
    background-position: center;
    border-radius: 50px 50px 0px 0px;;
}

.country-h1{
  margin-left: 40px;
  margin-top: 40px;
}

.city-h2{
  text-align: center;
  margin-top: 7%;
}

.cities-container{
  display: flex;
  flex-wrap: wrap;
}