:root {
    --iceblue: #e6f4f1;
    --red: #842700;
    --darkblue: #005c84;
    --lightblue: #8ccbd6;
}

body {
    height: 100vh;
    margin: 0;
  }
  
  

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  border: 1px solid black;
}

.search-container input {
  padding: 5px;
  margin-top: 30px;
  border: 1px solid grey;
  margin-left: 15vw;
  font-size: 15px;
}

.search-container button {
  padding: 5px;
  margin-top: 30px;
  border: 1px solid grey;
  font-size: 15px;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20vh;
  left: 25vw;
  width: 60vw;
  height: 60vh;
  background-color: var(--iceblue);
}