:root {
    --iceblue: #e6f4f1;
    --red: #842700;
    --darkblue: #005c84;
    --lightblue: #8ccbd6;
}

.navbar-container-closed{
    color: #181307;
    background-color: #181307;
    width: 140px;
    height: 100vh;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    transition-timing-function: ease-in-out;
    
  
  }
  .navbar-container-opened{
    background-color: #181307;
    width: 65vw;
    height: 100vh;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    transition-timing-function: ease-in-out;
    
  
  }
  
  .line{
    width: 70px;
    height: 15px;
    background-color: #A5BCC3;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .hamburger-menu-closed:hover .streck{
    background-color: #a5bcc385;
  }
  .hamburger-menu-opened:hover .streck{
    background-color: #a5bcc371;
  }
  
  
  .hamburger-menu-closed{
    display: flex;
    flex-direction: column;
    position: fixed;
  top: 50vh;
  left: 35px;
  transition: 1s;
  transition-timing-function: ease-in-out;
  }
  
  .hamburger-menu-opened{
    display: flex;
    flex-direction: column;
    position: fixed;
  top: 50vh;
  left: 35px;
  transform: rotate(90deg);
  transition: 1s;
  transition-timing-function: ease-in-out;
  }
  
  .picture-hidden{
    width: 0vw;
    height: 100vh;
    background-image: url(../Images/navbar-bild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 0;
    top: 0;
    transition: 1s;
    transition-timing-function: ease-in-out;
  }
  
  .picture-visible{
    width: 35vw;
    height: 100vh;
    background-image: url(../Images/navbar-bild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 0;
    top: 0;
    transition: 1s;
    transition-timing-function: ease-in-out;
  }


.text-container-hidden{
    opacity: 0%;
    transition: 0.5s;
    visibility: hidden;
}
 

.text-container-visible{
    opacity: 100%;
    visibility: visible;
    color: white;
    transition: 0.5s;
    transition-delay: 0.5s;
    
}


.logotyp{
    height: 110px;
    width: 110px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.text{
    font-size: 60px;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
}

.text:hover{
    opacity: 50%;
    cursor: pointer;
}


