:root {
  --iceblue: #e6f4f1;
  --red: #842700;
  --darkblue: #005c84;
  --lightblue: #8ccbd6;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}
  
.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-left: 140px;
  background-image: url(../Images/vasily-koloda-8CqDvPuo_kI-unsplash.jpg);
  background-position-y: -400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Coming Soon', cursive !important;
}

.header1 h1 {
  font-family: 'Coming Soon', cursive !important;
  font-size: 60px;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20vh;
  left: 25vw;
  width: 60vw;
  height: 60vh;
  background-color: var(--iceblue);
}

.drop-down-filters{
  display: flex;
  flex-direction: column;
  margin-left: 220px;
  margin-bottom: 50px;
}

select {
  background-color: whitesmoke;
  height: 40px;
  width: 150px;
  border: 1px solid lightgray;
}


.drop-down-filters > p {
  color: grey
}

.drop-down-buttons{
  display: flex;
  flex-direction: row;
  gap: 10px
}

.drop-down-box {
  display: flex;
  padding-left: 10px;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 1px solid grey;
}

.programme-box {
  margin-left: 220px;
  background-color: white;
  border: rgb(151, 151, 151) 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px #bababa85;
  display: flex;
  width: 75vw;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  flex-direction: column;
  transition: background-color 0.25s;
  padding-left: 25px;
}

.programme-box:last-child{
  margin-bottom: 100px;
}

.programme-box:hover {
  cursor: pointer;
  background-color: var(--iceblue);
}

#programme-info {
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

#programme-info > p {
  padding-right: 10px;
  pointer-events: none;
}

.programme-box > header {
  pointer-events: none;
  font-weight: bolder;
  margin-bottom: 15px;
  margin-top: 10px;
}

#popup {
  display: none; 
  position: fixed; 
  z-index: 100; 
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px; 
  height: 620px; 
  overflow: auto; 
  background-color: white; 
  border: solid 1px lightgray;
  flex-direction: column;
  margin-left: -45px;
}

.popup-color {
  display: flex;
  background-color: var(--iceblue);
  width: 900px;
  height: 150px;
  align-items: center;
}

.university-info {
  display: flex;
  flex-direction: column;
  
}

.programme-name {
  margin-left: 24px;
}

.university-name {
  margin-left: 24px;
  font-size: 18px;
  margin-left: 30px;
}

.student-info {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  height: 50px;
  margin-left: 20px;
}

.icon {
  height: 40px;
  margin-right: 5px;
  margin-left: 10px;
}

.icon2 {
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

.div-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-container1 {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.right-container1 > div {
  height: 96px;
  border: 1px solid lightgrey; 
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.right-container1 > :nth-child(1), .right-container1 > :nth-child(2){
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.1);
  background-color: var(--iceblue);
}

.info-city {
  box-shadow:
  inset 1px 1px 7px rgba(255,255,255, 0.8),
  inset -1px -1px 5px rgba(155, 155, 155, 0.6),
  0px 0px 0px 1px rgba(146, 146, 146, 0.1);
  font-weight: bold;
  font-size: 17px;
  transition: background-color 0.3s;
}

.info-city:hover {
  background-color: whitesmoke;
  cursor: pointer;
}


.info-city > :nth-child(2) {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(175, 175, 175);
  font-weight: normal;
}

.left-container1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
}

.left-container1 > div {
  border: 1px solid lightgray;
  margin: 5px;
}

.student-comments {
  height: 250px;
  width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 25px 0px 25px;
  text-align: center;
}

.student-comments > div {
  border: none;
}

.student-comments > :nth-child(2) {
  font-size: medium;
}

.student-comments > :nth-child(1) {
  font-size: large;
  font-weight: bold;
}

.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-container > div {
  margin: 0px 40px 0px 40px;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stars > p {
  margin: 10px;
  font-size: medium;
}

.level {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.1);
}

.close-button1 {
  display: none;
  position: absolute;
  z-index: 110;
  right: -25px;
  top: -24px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
  opacity: 0.8;
}
.close-button1:hover {
  opacity: 1;
}
.close-button1:before, .close-button1:after {
  position: absolute;
  content: " ";
  width: 2px;
  left: 24px;
  height: 35px;
  top: 6px;
  background-color: #333;
}
.close-button1:before {
  transform: rotate(45deg);
}
.close-button1:after {
  transform: rotate(-45deg);
}

.background-white{
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.75);
  display: none;
}

.seethrou {
  display: none;
  position: fixed; 
  z-index: 100; 
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 620px;
  opacity: 1;
}

.gubbe{
  background-image: url(../Images/gubbe.gif);
  background-size: cover;
  height: 135px;
  width: 132px;
}

.right-button1{
  cursor: pointer;
  position: absolute;
  top: 72%;
  left: 71%;
  border-radius: 100%;
  border: none;
  height: 30px;
  width: 30px;
}

.left-button1{
  cursor: pointer;
  position: absolute;
  top: 72%;
  left: 5%;
  border-radius: 100%;
  border: none;
  height: 30px;
  width: 30px;
}

#city-popup {
  z-index: 1000;
}

.destination-popup {
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 900px;
  height: 635px;
  filter: drop-shadow(0px 4px 4px #8F8F8F);
  z-index: 2000;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

