:root {
    --iceblue: #e6f4f1;
    --red: #842700;
    --darkblue: #005c84;
    --lightblue: #8ccbd6;
}

body {
    height: 100vh;
    margin: 0;
}
  


.header {
    width: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin-left: 140px;
}

.textholder {
    width: 670px;
    height: 175px;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-top-destinations{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 140px;
}

.top-destination-sqaure{
    height: 405px;
    border: black 1px solid;
    margin: 30px;
    border-radius: 50px;
    background-color: gray;
}

.picture{
    height: 288px;
    background-color: black;
    border-radius: 50px 50px 0px 0px;;
}

.top-destinations-h1{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.top-destinations-p{
  margin-top: 0px;
  margin-left: 10px;
  font-size: 15px;
}

.all-cities-container{
    display: flex;
    justify-content: center;
}

.explore-h1{
    margin-left: 15vw;
    margin-top: 65px;
    font-size: 50px;
}

.stories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 90vw;
    margin-left: 140px;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.picture-stories {
    padding: 10px;
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 5px;
}

.stories-text-box {
    height: 400px;
    width: 600px;
    padding: 10px;
    background-color: beige;
    border-radius: 5px;
}

.button-link {
    text-decoration: none;
    color: black;
}

.button-container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}






  